{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <div class="container">
    <h1 class="display-4 text-center my-5">Critic List</h1>
    <div class="text-center mb-4">
      <a href="{% url 'movie_magazine:critic-create' %}" class="btn btn-dark">Create</a>
    </div>
    <form method="get" action="" class="form-inline justify-content-center mb-4">
      {{ search_form|crispy }}
      <input class="btn btn-secondary ml-2" type="submit" value="Search">
    </form>
    {% if critic_list %}
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Years of experience</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for critic in critic_list %}
            <tr>
              <td>{{ critic.id }}</td>
              <td><a href="{{ critic.get_absolute_url }}">{{ critic.username }} {% if user == critic %} (Me){% endif %}</a></td>
              <td>{{ critic.first_name }}</td>
              <td>{{ critic.last_name }}</td>
              <td>{{ critic.years_of_experience }}</td>
              <td>
                <a href="{% url 'movie_magazine:critic-detail' pk=critic.id %}" class="btn btn-secondary">View</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="alert alert-warning" role="alert">
        There are no critics in the service.
      </div>
    {% endif %}
  </div>
{% endblock %}
