{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1 class="display-4 text-center my-5">
      Username: {{ critic.username }}
      <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'movie_magazine:critic-delete' pk=critic.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'movie_magazine:critic-update' pk=critic.id %}" class="btn btn-secondary">Update years of experience</a>
      </div>
    </h1>

    <div class="card">
      <div class="card-body">
        <p><strong>First name:</strong> {{ critic.first_name }}</p>
        <p><strong>Last name:</strong> {{ critic.last_name }}</p>
        <p><strong>Years of experience:</strong> {{ critic.years_of_experience }}</p>
        <p><strong>Is staff:</strong> {{ critic.is_staff }}</p>
      </div>
    </div>

    <div class="mt-5">
      <h4>Magazines</h4>

      {% for magazine in critic.magazines.all %}
        <div class="card mt-3">
          <div class="card-body">
            <p><strong>Title:</strong> {{ magazine.title }}</p>
            <p><strong>Topic:</strong> {{ magazine.topic.name }}</p>
            <p class="text-muted"><strong>Id:</strong> {{magazine.id}}</p>
          </div>
        </div>
      {% empty %}
        <p class="mt-3">No Magazines!</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
